@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/*FONTS*/
.card-title{
   font-size: 3.125rem;
   margin-bottom: 0.5rem;
   line-height: 1.1; 
   font-weight: 600; 
}

.card-subtitle{
    font-size: 1.625rem;
    font-weight: 400;
    margin: 1rem 0;
}

.email-form-title{
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

/*Banner-Wrap Section*/
.banner-wrap {
    background-image:url("./assets/bgi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-bottom: 10px solid #222;
    position: relative;
    z-index: 1;
}

.overlay{
    z-index: -1;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 60%;
    position: absolute;
    top: 0;
}

h1{
    font-size: 3.2rem ;
    color: white;
}


.navbar{
    height: 20%;
    display: flex; 
    align-items:center;
    justify-content: space-between;
    height: 45px;
    margin: 0 45px ;
    padding-top: 45px;
}

.navbar > svg{
    height: 32px; 
    
}

.navbar > a{
    padding: 7px 17px;
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: 3px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    color: white;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 45px);
    justify-content: center;
}

.get-started-form{
    height: 60px;
    display: flex;
}

.get-started-form input{
    height: 100%;
    width: 450px;
    padding-left: 10px;
}

.get-started-form button{
    background-color: red;
    color: white;
    height: 100%;
    font-size: 1.625rem;
    border: none;
    min-height: 60px;
    padding: 0 26px;
    border-left: 1px solid;
}

.info-container{
    background: black;
    color: white;
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid #222;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tv-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.tv-container img{
z-index: 1;
}

.tv-container video{
    position: absolute;
}


/*FOOTER STYLES*/


.footer{
    background: black;
}

.footer-items{
    margin: 0 47.5px;
    padding: 70px 45px 0px 45px;
}

.footer-top{
    margin-bottom: 30px;

}

.footer ul li, .questions-title{
    color: #757575;
}

.footer-links li{
    font-size: 13px;
    line-height: 2;

}

.footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.test{
    display: none;
}

.questions-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-links{
    list-style-type: none;
    columns: 4;
    padding: 0;
}

.language{
    height: 50px;
    width: 140px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #999;
    padding: 0 10px;
    margin-top: 40px;
    border-radius: 3px;
}

.language select{
   padding: 10px;
   width: 100%;
   border: none;
   appearance: none; 
   background:black;
   color: #999;
   background: url(./assets/arrow_.png) no-repeat 150%;
}



